@page "{id:int}"
@model ProjectThomas.Pages.Legos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lego.Range)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lego.Range)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lego.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lego.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lego.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lego.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lego.NumPieces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lego.NumPieces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lego.Owned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lego.Owned)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lego.LegoId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">Back to List</a>
    </form>
</div>
