@page
@model ProjectThomas.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table id="MrMen" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Owned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReadIt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadIt)
                </td>
                <td>
                    <a class="btn btn-xs btn-success fas fa-edit" asp-page="./Edit" asp-route-id="@item.BookId"></a>
                    <a class="btn btn-xs btn-info fas fa-newspaper" asp-page="./Details" asp-route-id="@item.BookId"></a>
                    <a class="btn btn-xs btn-danger fas fa-trash-alt" asp-page="./Delete" asp-route-id="@item.BookId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<label>Owned: @Html.DisplayFor(model => model.OwnedCount) of @Model.Book.Count()</label><br>
<label>Read: @Html.DisplayFor(model => model.ReadCount) of @Model.Book.Count()</label>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script src="~/js/MrMenIndex.js" asp-append-version="true"></script>
}